//CUSTOM PROPERTY

:root {
    --line: 1px solid #22211d;
}

// COLORS
$color-primary-gold: #d2ac47;
$color-light-gold: #f7ef8a;
$color-brightOrange-gold: #e0aa3e;

$color-metallic-gold: #d4af37;

$color-blackGold-base: #1e1e1a;
$color-blackGold: #19191c;
$color-blackGold-light: #22211d;

// FONT
$default-font-size: 1.8rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
