.hair-banner {
  position: relative;
  height: 50vh;
  overflow: hidden;

  &__background {
    position: absolute;
    inset: 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-blackGold-light, 0.87),
        rgba($color-blackGold, 0.87)
      ),
      url('..//img/hair-banner.jpg');
    background-size: cover;
    background-position: top;
    will-change: transform;
    z-index: 0;
  }
}

.nails-banner {
    height: 57vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-blackGold-light, 0.87),
        rgba($color-blackGold, 0.87)
      ),
      url('..//img/beautiful-golden-nails.jpg');
    background-size: cover;
    background-position: top;
    position: relative;
  }
  
.about-banner {
    height: 57vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-blackGold-light, 0.87),
        rgba($color-blackGold, 0.87)
      ),
      url('..//img/perfect-hair.jpg');
    background-size: cover;
    background-position: top;
    position: relative;
  }