.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-blackGold-light, 0.87),
      rgba($color-blackGold, 0.87)
    ),
    url('../img/sparkle-salon.jpg');
  background-size: cover;
  background-position: top;
  position: relative;

  // to nest elements I have to use the & operator, that copies that parent class name
    &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.navigation {
  // display: none;

  &__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #22211d;
    transition: all 0.8s;
    padding: 1rem 3rem;
    z-index: 1500;

    @media only screen and (max-width: $bp-small) {
      padding: 1rem 2.7rem;
    }

    @media only screen and (max-width: $bp-verySmall-2) {
      padding: 1rem 2rem;
    }
  }

  &__logo-box {
    position: relative;
    transition: all 0.8s;
    // top: 4rem;
    // left: 4rem;
  }

  &__logo {
    height: 5rem;
    border-radius: 50%;
  }

  &__list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    position: relative;
    list-style: none;
  }

  &__link {
    position: relative;
    margin: 0 1.5rem;
    text-decoration: none;
    font-size: 1.8rem;
    color: $color-metallic-gold;
    letter-spacing: 0.2rem;
    font-weight: 600;
    transition: all 0.8s;

    @media only screen and (max-width: $bp-small) {
      margin: 0 1rem;
      font-size: 1.5rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      font-size: 1rem;
    }

    @media only screen and (max-width: $bp-verySmall-2) {
      margin: 0 0.5rem;
    }
  }

}

