    <footer class="footer">
      <div class="footer__logo-box">
        <picture class="footer__logo">
          <img src="/img/logo.jpg" alt="Sparkle logo" class="footer__logo" />
        </picture>
      </div>
      <div class="footer-content">
        <div class="footer__left">
          <div class="footer__navigation">
            <ul class="footer_list">
              <li class="footer__item">
                <a href="/about" class="footer__link">Contact us</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer__right">
          <p class="footer__copyright">
            Built by <a href="https://www.linkedin.com/in/mikeberrio/" class="footer__link">Mike Berrio</a>.
            Copyright &copy;
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
