/* 
---Fonts To Remember---

Abril Fatface
'Vollkorn', serif
Ubuntu
Lato
Great Vibes = banner font

use Ctrl D to select all with the same name

 */
:root {
  --line: 1px solid #22211d; }

@keyframes moveInLeft {
  /*I use @keyframe for animation and you have to give the animation a name, for browser performance is ideal to animate to properties "transform" and "opacity"*/
  0% {
    /*I indicate here what I want the animation to do and 0% is when the animation starts*/
    opacity: 0;
    /* I want to be invisible so at the beginning the opacity will be 0 */
    transform: translateX(-10rem);
    /*I want to animate from left to right so I do it in the x direction*/ }
  80% {
    transform: translateX(1.2rem); }
  100% {
    /*is when the animation finishes */
    opacity: 1;
    transform: translate(0);
    /*I use translate 0 because I want at the end to look as it is right now*/ } }

@keyframes moveInRight {
  /*I use @keyframe for animation and you have to give the animation a name, for browser performance is ideal to animate to properties "transform" and "opacity"*/
  0% {
    /*I indicate here what I want the animation to do and 0% is when the animation starts*/
    opacity: 0;
    /* I want to be invisible so at the beginning the opacity will be 0 */
    transform: translateX(10rem);
    /*I want to animate from left to right so I do it in the x direction*/ }
  80% {
    transform: translateX(-1.2rem); }
  100% {
    /*is when the animation finishes */
    opacity: 1;
    transform: translate(0);
    /*I use translate 0 because I want at the end to look as it is right now*/ } }

/* I use the * universal selector to reset will select each element of the page and apply the declarations set */
*,
*::after,
*::before {
  margin: 0;
  /* all browser have their own declarations with this it removes them */
  padding: 0;
  box-sizing: inherit;
  /*I put box-sizing: border-box in the body so I can force inheritance in the entire page so whatever I put in the body will be inherit*/ }

html {
  /* 1rem = 10px... if I want to keep the default size as % in this case 16px then I calculate 10/16 = 0.625 and then I multiply by 100 and gives us 62.5%*/
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  /* to change the box model so the borders and paddings ar not longer added to the total width or high that I specify */ }

/* I set the overall fonts on the body element because all the properties related to font are inherit */
body {
  font-family: 'GFS Didot', serif;
  font-weight: 400;
  line-height: 1.2;
  background-color: #1e1e1a;
  color: #d4af37;
  padding: 3rem; }
  @media only screen and (max-width: 48em) {
    body {
      padding: 0; } }

.heading-primary {
  color: #d4af37;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-family: 'Great Vibes', cursive;
    font-size: 30rem;
    font-weight: 500;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    @media only screen and (max-width: 64em) {
      .heading-primary--main {
        font-size: 24rem; } }
    @media only screen and (max-width: 48em) {
      .heading-primary--main {
        font-size: 18rem; } }
    @media only screen and (max-width: 37.6em) {
      .heading-primary--main {
        font-size: 12rem; } }
    @media only screen and (max-width: 26.6em) {
      .heading-primary--main {
        font-size: 6rem; } }
    @media only screen and (max-width: 23.6em) {
      .heading-primary--main {
        letter-spacing: 2.7rem; } }
    @media only screen and (max-width: 20em) {
      .heading-primary--main {
        letter-spacing: 2rem; } }
  .heading-primary--Sub {
    display: block;
    /* block elements occupy the entire width they have available and in this case creates line breaks before and after */
    font-size: 7.5rem;
    font-weight: 500;
    text-align: right;
    letter-spacing: 1.5rem;
    animation: moveInRight 1s ease-out;
    /* here I can use the "animation" property only and put all the parameters and CSS will figure it out the rest*/ }
    @media only screen and (max-width: 64em) {
      .heading-primary--Sub {
        font-size: 6.9rem; } }
    @media only screen and (max-width: 48em) {
      .heading-primary--Sub {
        font-size: 6.3rem; } }
    @media only screen and (max-width: 37.6em) {
      .heading-primary--Sub {
        font-size: 5.4rem; } }
    @media only screen and (max-width: 26.6em) {
      .heading-primary--Sub {
        font-size: 3.3rem; } }

.social-icon {
  color: #d4af37;
  font-size: 2.7rem;
  padding: 0.6rem 0.5rem 1.1rem; }
  @media only screen and (max-width: 26.6em) {
    .social-icon {
      font-size: 2rem; } }

.heading-secondary {
  display: inline-block;
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #f7ef8a, #e0aa3e);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem; }

.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase; }
  @media only screen and (max-width: 64em) {
    .heading-tertiary {
      font-size: 1.2rem; } }
  @media only screen and (max-width: 48em) {
    .heading-tertiary {
      font-size: 1rem; } }
  @media only screen and (max-width: 37.6em) {
    .heading-tertiary {
      font-size: 0.9rem; } }

.paragraph {
  font-size: 1.8rem; }
  @media only screen and (max-width: 64em) {
    .paragraph {
      font-size: 1.2rem; } }
  @media only screen and (max-width: 37.6em) {
    .paragraph {
      font-size: 1rem; } }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }
    @media only screen and (max-width: 48em) {
      .paragraph:not(:last-child) {
        margin-bottom: 1.5rem; } }
    @media only screen and (max-width: 37.6em) {
      .paragraph:not(:last-child) {
        margin-bottom: 1rem; } }

.u-text-center {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }
  @media only screen and (max-width: 37.6em) {
    .u-margin-bottom-small {
      margin-bottom: 1rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 48em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }
  @media only screen and (max-width: 37.6em) {
    .u-margin-bottom-big {
      margin-bottom: 2rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn-text:link, .btn-text:visited {
  font-size: 1.8rem;
  position: relative;
  color: #d2ac47;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #d2ac47;
  background-image: linear-gradient(90deg, transparent 0%, transparent 50%, #f7ef8a 50%);
  background-size: 200%;
  padding: 6px;
  transition: all 0.2s; }
  @media only screen and (max-width: 48em) {
    .btn-text:link, .btn-text:visited {
      font-size: 1.2rem; } }

.btn-text:hover {
  background-position: 200%;
  background-color: #d2ac47;
  color: #19191c;
  box-shadow: 0 1rem 2rem rgba(224, 170, 62, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(224, 170, 62, 0.15);
  transform: translateY(0); }

.btn-inline {
  border: none;
  color: #d4af37;
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s; }
  .btn-inline:hover {
    color: #aaa9ad; }
  .btn-inline:focus {
    outline: none;
    animation: pulsate 1s infinite; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1);
    box-shadow: 0 1rem 4rem rgba(224, 170, 62, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.services {
  display: flex;
  align-items: center;
  justify-content: space-evenly; }
  @media only screen and (max-width: 26.6em) {
    .services {
      flex-wrap: wrap; } }

.cards {
  position: relative;
  perspective: 150rem;
  overflow: hidden;
  height: 50rem;
  width: 35rem;
  font-size: 1.7rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 3.9rem rgba(224, 170, 62, 0.15); }
  @media only screen and (max-width: 64em) {
    .cards {
      height: 42rem;
      width: 27rem; } }
  @media only screen and (max-width: 48em) {
    .cards {
      height: 36rem;
      width: 24rem;
      font-size: 1.2rem; } }
  @media only screen and (max-width: 37.6em) {
    .cards {
      height: 27rem;
      width: 18rem;
      font-size: 1rem; } }
  @media only screen and (max-width: 26.6em) {
    .cards {
      height: 36rem;
      width: 24rem;
      font-size: 1.2rem; } }
  @media only screen and (max-width: 26.6em) {
    .cards:not(:last-child) {
      margin-bottom: 2rem; } }
  .cards__image {
    background-size: cover;
    height: 100%;
    background-blend-mode: multiply; }
    .cards__image--1 {
      background-image: linear-gradient(to right bottom, #f7ef8a, #e0aa3e), url(/img/woman-hair.jpg); }
    .cards__image--2 {
      background-image: linear-gradient(to right bottom, #f7ef8a, #e0aa3e), url(/img/woman-nails.jpg); }
    .cards__image--3 {
      background-image: linear-gradient(to right bottom, #f7ef8a, #e0aa3e), url(/img/hair-accessories.jpg); }
  .cards__overlay {
    position: absolute;
    top: 0;
    left: -141%;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 33, 29, 0.7);
    transform: skewX(-30deg);
    transition: all 0.9s ease; }
    @media only screen and (max-width: 64em) {
      .cards__overlay {
        left: -145%; } }
    @media only screen and (max-width: 26.6em) {
      .cards__overlay {
        left: 0; } }
  .cards:hover .cards__overlay {
    left: 0; }
  .cards__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    box-sizing: border-box;
    padding: 2.5rem;
    z-index: 1000;
    text-shadow: 0.5rem 0.5rem 0.1rem #19191c;
    transition: all 0.6s ease; }
    .cards__content-line {
      position: absolute;
      background-color: #f7ef8a;
      transition: all 0.6s ease-in-out; }
      .cards__content-line--1 {
        top: 0;
        left: -2rem;
        width: 0;
        height: 1px;
        transform-origin: left;
        transition-delay: 0.6s; }
        @media only screen and (max-width: 26.6em) {
          .cards__content-line--1 {
            width: 115%; } }
      .cards__content-line--2 {
        top: -2rem;
        left: 0;
        width: 1px;
        height: 0;
        transform-origin: top;
        transition-delay: 1s; }
        @media only screen and (max-width: 26.6em) {
          .cards__content-line--2 {
            height: 135%; } }
      .cards__content-line--3 {
        bottom: 0;
        right: -2rem;
        width: 0;
        height: 1px;
        transform-origin: right;
        transition-delay: 0.9s; }
        @media only screen and (max-width: 26.6em) {
          .cards__content-line--3 {
            width: 115%; } }
      .cards__content-line--4 {
        bottom: -2rem;
        right: 0;
        width: 1px;
        height: 0;
        transform-origin: left;
        transition-delay: 1.2s; }
        @media only screen and (max-width: 26.6em) {
          .cards__content-line--4 {
            height: 135%; } }
    .cards__content-title {
      letter-spacing: 0.1rem;
      opacity: 0;
      transition: all 0.6s ease;
      transition-timing-function: linear;
      transform: translateY(-1rem); }
      @media only screen and (max-width: 48em) {
        .cards__content-title {
          font-size: 1.2rem; } }
      @media only screen and (max-width: 37.6em) {
        .cards__content-title {
          font-size: 1rem; } }
      @media only screen and (max-width: 26.6em) {
        .cards__content-title {
          transform: translateY(0);
          opacity: 1; } }
    .cards__content-text {
      opacity: 0;
      transform: translateY(1rem);
      transition: all 0.6s ease;
      transition-timing-function: linear; }
      @media only screen and (max-width: 26.6em) {
        .cards__content-text {
          transform: translateY(0);
          opacity: 1; } }
  .cards:hover .cards__content-line--1,
  .cards:hover .cards__content-line--3 {
    width: 115%; }
  .cards:hover .cards__content-line--2,
  .cards:hover .cards__content-line--4 {
    height: 135%; }
  .cards:hover .cards__content-title {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 1.5s; }
  .cards:hover .cards__content-text {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 1.8s; }

.composition {
  position: relative; }
  .composition__photo {
    width: 45%;
    box-shadow: 0 1.5rem 4rem rgba(224, 170, 62, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s; }
    @media only screen and (max-width: 26.6em) {
      .composition__photo {
        width: 30%; } }
    .composition__photo--p1 {
      left: -3%;
      top: 0; }
      @media only screen and (max-width: 26.6em) {
        .composition__photo--p1 {
          left: 13%; } }
    .composition__photo--p2 {
      left: 30%;
      top: -1rem; }
      @media only screen and (max-width: 26.6em) {
        .composition__photo--p2 {
          left: 36%; } }
    .composition__photo--p3 {
      right: -3%;
      top: 1rem; }
      @media only screen and (max-width: 26.6em) {
        .composition__photo--p3 {
          right: 15%; } }
    .composition__photo:hover {
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(224, 170, 62, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.hair-gallery, .nails-gallery {
  display: flex; }
  .hair-gallery__photo, .nails-gallery__photo {
    width: 100%;
    display: block; }

.features {
  max-width: 114rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }
  @media only screen and (max-width: 26.6em) {
    .features {
      max-width: 15rem;
      flex-wrap: wrap; } }

.feature {
  height: 33rem;
  background-color: rgba(34, 33, 29, 0.8);
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(25, 25, 28, 0.15);
  transition: transform 0.3s; }
  @media only screen and (max-width: 64em) {
    .feature {
      height: 25.3rem; } }
  @media only screen and (max-width: 64em) {
    .feature {
      height: 24rem; } }
  @media only screen and (max-width: 37.6em) {
    .feature {
      height: 20.3rem; } }
  @media only screen and (max-width: 26.6em) {
    .feature {
      height: 17rem; } }
  .feature-box {
    padding: 2.5rem;
    font-size: 1.5rem;
    flex: 1 1 0;
    min-width: 0; }
    @media only screen and (max-width: 64em) {
      .feature-box {
        padding: 1.9rem;
        font-size: 1.2rem; } }
    @media only screen and (max-width: 48em) {
      .feature-box {
        font-size: 1rem; } }
    @media only screen and (max-width: 37.6em) {
      .feature-box {
        padding: 1rem; } }
    .feature-box__icon {
      height: 9rem;
      width: 9rem;
      margin-bottom: 1.5rem;
      fill: #a37e2c; }
      @media only screen and (max-width: 64em) {
        .feature-box__icon {
          height: 6rem;
          width: 6rem; } }
      @media only screen and (max-width: 37.6em) {
        .feature-box__icon {
          height: 4rem;
          width: 4rem;
          margin-bottom: 1rem; } }
  .feature:not(:last-child) {
    margin-right: 6rem; }
    @media only screen and (max-width: 64em) {
      .feature:not(:last-child) {
        margin-right: 3rem; } }
    @media only screen and (max-width: 64em) {
      .feature:not(:last-child) {
        margin-right: 3rem; } }
    @media only screen and (max-width: 37.6em) {
      .feature:not(:last-child) {
        margin-right: 2.4rem; } }
    @media only screen and (max-width: 26.6em) {
      .feature:not(:last-child) {
        margin-right: 0;
        margin-bottom: 2.4rem; } }
  .feature:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line); }
  .overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
    @media only screen and (max-width: 23.6em) {
      .overview__heading {
        padding: 1.5rem 2rem;
        font-size: 1.2rem; } }
    @media only screen and (max-width: 20em) {
      .overview__heading {
        padding: 0.5rem 1rem;
        font-size: 1.2rem; } }
  .overview__stars {
    margin-right: auto;
    display: flex; }
  .overview__icon-star, .overview__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: #f7ef8a; }
  .overview__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center; }
  .overview__icon-location {
    margin-right: 0.6rem; }
  .overview__rating {
    background-color: #d2ac47;
    color: #1e1e1a;
    margin-left: 3rem;
    padding: 0 2.25rem;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 20em) {
      .overview__rating {
        margin-left: 1rem;
        padding: 0 1.2rem; } }
  .overview__rating-average {
    font-size: 2.25rem;
    font-weight: 300; }
  .overview__rating-count {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600; }

.recommended {
  font-size: 1.5rem;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 48em) {
    .recommended {
      font-size: 1.2rem; } }
  .recommended__count {
    margin-right: auto; }
  .recommended__clients {
    display: flex; }
  .recommended__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid #f7ef8a; }
    .recommended__photo:not(:last-child) {
      margin-right: -2rem; }

.cta {
  padding: 3.6rem;
  text-align: center; }
  .cta__book-now {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem; }

/* spacing */
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line); }

caption {
  caption-side: top;
  color: #d4af37; }

tbody td {
  text-align: center; }

td {
  padding: 20px;
  letter-spacing: 1px; }

.review {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(224, 170, 62, 0.1);
  background-color: rgba(34, 33, 29, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.8rem;
  transform: skewX(-12deg); }
  @media only screen and (max-width: 26.6em) {
    .review {
      width: 100%; } }
  .review__shape {
    width: 15rem;
    height: 16rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
    @media only screen and (max-width: 26.6em) {
      .review__shape {
        float: none; } }
  .review__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all 0.5s; }
  .review__text {
    transform: skew(12deg); }
    @media only screen and (max-width: 48em) {
      .review__text {
        font-size: 1.2rem; } }
  .review__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #1e1e1a;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden; }
  .review:hover .review__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .review:hover .review__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px); }

.hair-review {
  background-color: #22211d;
  box-shadow: 0 2rem 5rem rgba(224, 170, 62, 0.06);
  padding: 3rem;
  margin-bottom: 3.6rem;
  position: relative;
  overflow: hidden; }
  .hair-review__text {
    margin-bottom: 2rem;
    z-index: 10;
    position: relative; }
  .hair-review__client {
    display: flex;
    align-items: center; }
  .hair-review__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem; }
  .hair-review__client-box {
    margin-right: auto; }
  .hair-review__client-name {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.4rem; }
  .hair-review__client-date {
    font-size: 1rem;
    color: #f7ef8a; }
  .hair-review__rating {
    font-size: 2.2rem;
    font-weight: 300; }
  .hair-review::before {
    content: '\201C';
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    line-height: 1;
    font-size: 20rem;
    color: #19191c;
    font-family: sans-serif;
    z-index: 1; }

.content {
  display: flex; }
  @media only screen and (max-width: 26.6em) {
    .content {
      flex-direction: column-reverse; } }

.gallery {
  flex: 0 0 50%;
  margin-top: 3rem; }

.description {
  flex: 1;
  padding: 3rem;
  margin-left: 6rem;
  line-height: 1.7; }
  @media only screen and (max-width: 64em) {
    .description {
      margin-left: 3rem; } }
  @media only screen and (max-width: 48em) {
    .description {
      padding: 1.5rem;
      margin-left: 1.5rem; } }

.hair-banner {
  height: 50vh;
  background-image: linear-gradient(to right bottom, rgba(34, 33, 29, 0.87), rgba(25, 25, 28, 0.87)), url("..//img/hair-banner.jpg");
  background-size: cover;
  background-position: top;
  position: relative; }

.nails-banner {
  height: 57vh;
  background-image: linear-gradient(to right bottom, rgba(34, 33, 29, 0.87), rgba(25, 25, 28, 0.87)), url("..//img/beautiful-golden-nails.jpg");
  background-size: cover;
  background-position: top;
  position: relative; }

.about-banner {
  height: 57vh;
  background-image: linear-gradient(to right bottom, rgba(34, 33, 29, 0.87), rgba(25, 25, 28, 0.87)), url("..//img/perfect-hair.jpg");
  background-size: cover;
  background-position: top;
  position: relative; }

.footer {
  background-color: #19191c;
  padding: 3rem 0;
  font-size: 1.4rem; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 3rem; }
  .footer__logo {
    width: 9rem;
    border-radius: 50%;
    height: auto; }
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .footer__right {
    flex: 0 0 40%; }
  .footer__navigation {
    border-top: 1px solid #d4af37;
    padding-top: 2rem;
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #cacaca;
    background-color: #22211d;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s; }
  .footer__link:hover, .footer__link:active {
    color: #d2ac47;
    box-shadow: 0 1rem 2rem rgba(224, 170, 62, 0.4); }
  .footer__copyright {
    border-top: 1px solid #d4af37;
    padding-top: 2rem;
    width: 80%;
    float: right; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(34, 33, 29, 0.87), rgba(25, 25, 28, 0.87)), url("../img/sparkle-salon.jpg");
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.navigation__nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #22211d;
  transition: all 0.8s;
  padding: 1rem 3rem;
  z-index: 1500; }
  @media only screen and (max-width: 26.6em) {
    .navigation__nav {
      padding: 1rem 2.7rem; } }
  @media only screen and (max-width: 20em) {
    .navigation__nav {
      padding: 1rem 2rem; } }

.navigation__logo-box {
  position: relative;
  transition: all 0.8s; }

.navigation__logo {
  height: 5rem;
  border-radius: 50%; }

.navigation__list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }

.navigation__item {
  position: relative;
  list-style: none; }

.navigation__link {
  position: relative;
  margin: 0 1.5rem;
  text-decoration: none;
  font-size: 1.8rem;
  color: #d4af37;
  letter-spacing: 0.2rem;
  font-weight: 600;
  transition: all 0.8s; }
  .navigation__link:hover {
    color: #aaa9ad; }
  @media only screen and (max-width: 26.6em) {
    .navigation__link {
      margin: 0 0.9rem;
      font-size: 1.5rem; } }
  @media only screen and (max-width: 23.6em) {
    .navigation__link {
      font-size: 1rem; } }
  @media only screen and (max-width: 20em) {
    .navigation__link {
      margin: 0 0.5rem; } }

.about-section {
  background-color: #19191c;
  padding: 9% 12% 15%; }
  @media only screen and (max-width: 48em) {
    .about-section {
      padding: 9% 9% 15%; } }
  @media only screen and (max-width: 37.6em) {
    .about-section {
      padding: 9% 6% 15%; } }
  @media only screen and (max-width: 26.6em) {
    .about-section {
      height: 60vh; } }
  @media only screen and (max-width: 23.6em) {
    .about-section {
      height: 96vh; } }

.features-section {
  padding: 18rem 12rem;
  background-image: linear-gradient(to right bottom, rgba(247, 239, 138, 0.87), rgba(224, 170, 62, 0.87)), url("../img/perfect-hair.jpg");
  background-size: cover;
  transform: skewY(-6deg);
  margin-top: -7rem; }
  @media only screen and (max-width: 64em) {
    .features-section {
      padding: 15rem 9rem; } }
  @media only screen and (max-width: 48em) {
    .features-section {
      padding: 12rem 6rem; } }
  @media only screen and (max-width: 37.6em) {
    .features-section {
      padding: 9rem 3rem; } }
  .features-section > * {
    transform: skewY(6deg); }

.section-services {
  background-color: #19191c;
  padding: 25rem 0 15rem 0;
  margin-top: -7rem; }

.section-reviews {
  position: relative;
  padding: 15rem 0; }

.hair-view, .nails-view {
  background-color: #19191c; }

.detail {
  font-size: 1.5rem;
  display: flex;
  padding: 4.5rem;
  border-radius: var(--line); }
  @media only screen and (max-width: 48em) {
    .detail {
      font-size: 1.2rem; } }
  @media only screen and (max-width: 26.6em) {
    .detail {
      flex-wrap: wrap; } }

.about-view {
  background-color: #19191c;
  font-size: 1.5rem;
  display: flex;
  padding: 4.5rem;
  border-radius: var(--line); }
  @media only screen and (max-width: 48em) {
    .about-view {
      font-size: 1.2rem; } }
  @media only screen and (max-width: 26.6em) {
    .about-view {
      flex-wrap: wrap; } }

.hair-description {
  background-color: #22211d;
  box-shadow: 0 1.5rem 3.9rem rgba(224, 170, 62, 0.15);
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem; }
  @media only screen and (max-width: 26.6em) {
    .hair-description {
      flex: 1 0 60%;
      margin-right: 0;
      margin-bottom: 4.5rem; } }

.about-contact {
  background-color: #22211d;
  box-shadow: 0 1.5rem 3.9rem rgba(224, 170, 62, 0.15);
  padding: 3rem;
  flex: 0 0 50%;
  margin-right: 4.5rem; }
  @media only screen and (max-width: 48em) {
    .about-contact {
      padding: 2rem 1rem; } }
  @media only screen and (max-width: 37.6em) {
    .about-contact {
      margin-right: 2.4rem; } }
  @media only screen and (max-width: 26.6em) {
    .about-contact {
      flex: 1 0 50%;
      margin-right: 0;
      margin-bottom: 4.5rem; } }
  .about-contact__telephone {
    text-decoration: none;
    color: inherit; }

.client-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; }

.about-map {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

@media only screen and (max-width: 64em) {
  .my_iFrame {
    width: 40rem; } }

@media only screen and (max-width: 48em) {
  .my_iFrame {
    width: 30rem; } }

@media only screen and (max-width: 37.6em) {
  .my_iFrame {
    width: 23rem; } }

@media only screen and (max-width: 37.6em) {
  .my_iFrame {
    width: 33rem; } }

@media only screen and (max-width: 23.6em) {
  .my_iFrame {
    width: 28rem; } }

@media only screen and (max-width: 20em) {
  .my_iFrame {
    width: 23rem; } }
