.review {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-brightOrange-gold, 0.1);
  background-color: rgba($color-blackGold-light, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  @media only screen and (max-width: $bp-small) {
    width: 100%;
  }

  &__shape {
    width: 15rem;
    height: 16rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;

    @media only screen and (max-width: $bp-small) {
      float: none;
    }
  }

  &__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all 0.5s;
  }

  &__text {
    transform: skew(12deg);

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.2rem; 
    }
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-blackGold-base;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px);
  }
}

//HAIR REVIEWS

.hair-review {
  background-color: $color-blackGold-light;
  box-shadow: 0 2rem 5rem rgba($color-brightOrange-gold, 0.06);
  padding: 3rem;
  margin-bottom: 3.6rem;
  position: relative;
  overflow: hidden;

  &__text {
    margin-bottom: 2rem;
    z-index: 10;
    position: relative;
  }

  &__client {
    display: flex;
    align-items: center;
  }

  &__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
  }

  &__client-box {
    margin-right: auto;
  }

  &__client-name {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.4rem;
  }

  &__client-date {
    font-size: 1rem;
    color: $color-light-gold;
  }

  &__rating {
    font-size: 2.2rem;
    font-weight: 300;
  }

  &::before {
    content: '\201C';
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    line-height: 1;
    font-size: 20rem;
    color: $color-blackGold;
    font-family: sans-serif;
    z-index: 1;
  }
}
