.about-section {
  background-color: $color-blackGold;
  padding: 9% 12% 15%;
  // display: flex;

  @media only screen and (max-width: $bp-medium) {
    padding: 9% 9% 15%;
  }

  @media only screen and (max-width: $bp-medium-small) {
    padding: 9% 6% 15%;
  }

  @media only screen and (max-width: $bp-small) {
    height: 60vh;
  }
}

.features-section {
  padding: 18rem 12rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-light-gold, 0.87),
      rgba($color-brightOrange-gold, 0.87)
    ),
    url('../img/perfect-hair.jpg');
  background-size: cover;
  transform: skewY(-6deg);
  margin-top: -7rem;

  @media only screen and (max-width: $bp-mediumLarge-2) {
    padding: 15rem 9rem;
  }

  @media only screen and (max-width: $bp-medium) {
    padding: 12rem 6rem;
  }

  @media only screen and (max-width: $bp-medium-small) {
    padding: 9rem 3rem;
  }

  & > * {
    transform: skewY(6deg);
  }
}

.section-services {
  background-color: $color-blackGold;
  padding: 25rem 0 15rem 0;
  margin-top: -7rem;
}

.section-reviews {
  position: relative;
  padding: 15rem 0;
}
