.about-section {
  background-color: $color-blackGold;
  padding: 9% 12% 18%;
  // display: flex;

  @media only screen and (max-width: $bp-medium) {
    padding: 9% 9% 15%;
  }

  @media only screen and (max-width: $bp-medium-small) {
    padding: 9% 6% 15%;
  }

  @media only screen and (max-width: $bp-small) {
    height: 60vh;
  }

  @media only screen and (max-width: $bp-smallest) {
    height: 96vh;
  }
}

.features-section {
  position: relative;
  overflow: hidden;
  transform: skewY(-6deg);
  padding: 18rem 12rem;
  margin-top: -10rem;

  &__background{
    position: absolute;
    inset: 0;
    top: -10rem;
    height: calc(100% + 10rem);
    background-image: linear-gradient(
        to right bottom,
        rgba($color-light-gold, 0.87),
        rgba($color-brightOrange-gold, 0.87)
      ),
      url('../img/perfect-hair.jpg');
    background-size: cover;
    will-change: transform;
    z-index: 0;
  }

  @media only screen and (max-width: $bp-mediumLarge-2) {
    padding: 15rem 9rem;
  }

  @media only screen and (max-width: $bp-medium) {
    padding: 12rem 6rem;
  }

  @media only screen and (max-width: $bp-medium-small) {
    padding: 9rem 3rem;
  }

  & > .features {
    position: relative;
    z-index: 1;
    transform: skewY(6deg);
  }
}

.section-services {
  background-color: $color-blackGold;
  padding: 30rem 0 15rem 0;
  margin-top: -10rem;
}

.section-reviews {
  position: relative;
  padding: 15rem 0;
}
