.hair-view, .nails-view {
    background-color: $color-blackGold;
}

.detail {
    font-size: 1.5rem;
    display: flex;
    padding: 4.5rem;
    border-radius: var(--line);

    @media only screen and (max-width: $bp-medium) {
        font-size: 1.2rem; 
    }

    @media only screen and (max-width: $bp-small) {
        flex-wrap: wrap; 
    }
}

.about-view {
    background-color: $color-blackGold;
    font-size: 1.5rem;
    display: flex;
    padding: 4.5rem;
    border-radius: var(--line);

    @media only screen and (max-width: $bp-medium) {
        font-size: 1.2rem; 
    }

    @media only screen and (max-width: $bp-small) {
        flex-wrap: wrap;
    }
}

.hair-description {
    background-color: $color-blackGold-light;
    box-shadow: 0 1.5rem 3.9rem rgba($color-brightOrange-gold, 0.15);
    padding: 3rem;
    flex:  0 0 60%;
    margin-right: 4.5rem;
    
    @media only screen and (max-width: $bp-small) {
        flex: 1 0 60%;
        margin-right: 0;
        margin-bottom: 4.5rem;
    }
}

.about-contact {
    background-color: $color-blackGold-light;
    box-shadow: 0 1.5rem 3.9rem rgba($color-brightOrange-gold, 0.15);
    padding: 3rem;
    flex:  0 0 50%;
    margin-right: 4.5rem;
    
    @media only screen and (max-width: $bp-medium) {
        padding: 2rem 1rem;
    }
    
    @media only screen and (max-width: $bp-medium-small) {
        margin-right: 2.4rem;
    }

    @media only screen and (max-width: $bp-small) {
        flex: 1 0 50%;
        margin-right: 0;
        margin-bottom: 4.5rem;
    }

    &__telephone {
        text-decoration: none;
        color: inherit;
    }
}

.client-reviews {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-map {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.my_iFrame {
    @media only screen and (max-width: $bp-mediumLarge-2) {
        width: 40rem;
    }

    @media only screen and (max-width: $bp-medium) {
        width: 30rem;
    }

    @media only screen and (max-width: $bp-medium-small) {
        width: 23rem;
    }

    @media only screen and (max-width: $bp-medium-small) {
        width: 33rem;
    }

    @media only screen and (max-width: $bp-smallest) {
        width: 28rem;
    }

    @media only screen and (max-width: $bp-verySmall-2) {
        width: 23rem;
    }
}